<div class="header">

    <div class="header__title1 mobile">The award</div>
    <div class="header__title2 mobile">Winning</div>
    <div class="header__title3 mobile">Asian</div>
    <div class="header__title4 mobile">Restaurant</div>

    <div class="header__title1 tablet">The award winning</div>
    <div class="header__title2 tablet">Asian Restaurant</div>

    <div class="header__title5">At buatong we always serve happiness</div>
    <div class="header__title6">your smile is the best support for us</div>
    <div class="header__title7">Whassana - Chef Executive Officer</div>
    <div class="header__bg">
        <img src="/assets/image/header/header_bg.png">
    </div>
</div>