<div class="contact">
    <!-- เอา div มาครอบอีกที เพื่อให้ชิดซ้ายหมด -->
    <div>
        <div class="contact__title1">Contact Us</div>
        <div class="contact__title2">11/11 paholyothin 11 yaek 11</div>
        <div class="contact__title3">anusawaree bangkhen 10220</div>
        <div class="contact__title4">mobile : 08-888-8888</div>
        <div class="contact__title5">mon-wed : 10:00 - 20:00</div>
        <div class="contact__title6">thu-sat: 10:00 - 24:00</div>
        <div class="contact__title7">sun : 10:00 - 16:00</div>
    </div>
    <div class="contact__bg">
        <img src="/assets/image/contact/view-menu_bg.png" alt="" srcset="">
    </div>
</div>

