.contact{
    overflow: hidden;
    height: 100vh;
    font-size: 5.625vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.contact__title1{
    font-size: 15vw;
    margin-bottom: 20px;
    z-index: 2;
}

.contact__title3{
    margin-bottom: 20px;
    z-index: 2;
}

.contact__title4,
.contact__title5,
.contact__title6,
.contact__title7{
    margin-bottom: 5px;
    z-index: 2;
}

.contact__title4{
    margin-bottom: 20px;
}

.contact__bg{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0px;
    z-index: -1;
}

.contact__bg > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (min-width:740px) {
    .contact{
        height: 50vh;
        font-size: 2.432vw;
    }
    .contact__title1{
        font-size: 6.486vw;
    }
    
}

@media screen and (min-width:1280px) {
    .contact{
        width: 33.328vw;
        overflow: hidden;
        font-size: 1vw;
        padding-top: 9.5vh;
    }
    .contact__title1{
        font-size: 2vw;
    }
}